In [25]:
import sqlite3
db = sqlite3.connect('Employee_Sqlite_Database.sqlite')
db

In [26]:
cur = db.cursor()
cur

In [8]:
sql_query = 'CREATE TABLE Employee_Detail (employee_id int Primary Key, name Text, age int, department Text, salary int)'
cur.execute(sql_query)

In [9]:
cur.execute("INSERT INTO Employee_Detail values (100, 'Rishav', 25, 'Marketing', 50000)")

In [11]:
db.commit()

In [12]:
cur.execute("INSERT INTO Employee_Detail values (101, 'Abhishek', 26, 'Operations', 60000)")
cur.execute("INSERT INTO Employee_Detail values (102, 'Aman', 24, 'Human Resource', 75000)")

In [13]:
db.commit()

In [14]:
db.close()

In [3]:
cur.execute("DELETE FROM Employee_Detail WHERE employee_id = 101")

In [4]:
db.commit()

In [5]:
emp_id = 102
cur.execute("DELETE FROM Employee_Detail WHERE employee_id = ?", (emp_id, ))

In [6]:
db.commit()

In [27]:
employee_id=[101,102,103,104,105,106,107,108,109,110,111,112,113]
name=['Aadarsh','Aarti','Siddharth','Aman','Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[25,27,25,24,30,26,23,26,25,26,29,24]
department=['Marketing','Operations','Finance','Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,60000,85000,75000,50000,90000,85000,90000,60000,50000,75000,50000]

In [28]:
values = []
for i in range(len(employee_id) - 1):
    tup = (employee_id[i], name[i], age[i], department[i], salary[i])
    values.append(tup)
values

[(101, 'Aadarsh', 25, 'Marketing', 50000),
 (102, 'Aarti', 27, 'Operations', 60000),
 (103, 'Siddharth', 25, 'Finance', 85000),
 (104, 'Aman', 24, 'Human Resource', 75000),
 (105, 'Amit', 30, 'Marketing', 50000),
 (106, 'Shivansh', 26, 'IT', 90000),
 (107, 'Vaibhav', 23, 'Finance', 85000),
 (108, 'Himanshu', 26, 'IT', 90000),
 (109, 'Raman', 25, 'Operations', 60000),
 (110, 'Kunal', 26, 'Marketing', 50000),
 (111, 'Adhira', 29, 'Human Resource', 75000),
 (112, 'Tanya', 24, 'Marketing', 50000)]

In [39]:
cur.executemany("INSERT INTO Employee_Detail VALUES(?, ?, ?, ?, ?)", values)

In [41]:
cur.execute("SELECT * FROM Employee_Detail")

In [42]:
for i in cur:
    print(i)

(100, 'Rishav', 25, 'Marketing', 50000)
(101, 'Aadarsh', 25, 'Marketing', 50000)
(102, 'Aarti', 27, 'Operations', 60000)
(103, 'Siddharth', 25, 'Finance', 85000)
(104, 'Aman', 24, 'Human Resource', 75000)
(105, 'Amit', 30, 'Marketing', 50000)
(106, 'Shivansh', 26, 'IT', 90000)
(107, 'Vaibhav', 23, 'Finance', 85000)
(108, 'Himanshu', 26, 'IT', 90000)
(109, 'Raman', 25, 'Operations', 60000)
(110, 'Kunal', 26, 'Marketing', 50000)
(111, 'Adhira', 29, 'Human Resource', 75000)
(112, 'Tanya', 24, 'Marketing', 50000)

In [43]:
db.commit()

# Finance Employee SQLite

In [46]:
cur.execute("SELECT * FROM Employee_Detail WHERE department = 'Finance'")
cur.fetchall()

[(103, 'Siddharth', 25, 'Finance', 85000),
 (107, 'Vaibhav', 23, 'Finance', 85000)]

# Find Employee