In [6]:
import sqlite3
db = sqlite3.connect('Employee_Sqlite_Database.sqlite')
db

In [7]:
cur = db.cursor()
cur

In [8]:
sql_query = 'CREATE TABLE Employee_Detail (employee_id int Primary Key, name Text, age int, department Text, salary int)'
cur.execute(sql_query)

In [9]:
cur.execute("INSERT INTO Employee_Detail values (100, 'Rishav', 25, 'Marketing', 50000)")

In [11]:
db.commit()

In [12]:
cur.execute("INSERT INTO Employee_Detail values (101, 'Abhishek', 26, 'Operations', 60000)")
cur.execute("INSERT INTO Employee_Detail values (102, 'Aman', 24, 'Human Resource', 75000)")

In [13]:
db.commit()

In [14]:
db.close()